[submodule "i_am_poor"]
	path = i_am_poor
	url = git@github.com:jlouiss/flutter-challenges-i_am_poor.git
[submodule "business_card"]
	path = business_card
	url = git@github.com:jlouiss/flutter-challenges-business_card.git
[submodule "dices_app"]
	path = dices_app
	url = git@github.com:jlouiss/flutter-challenges-dices_app.git
[submodule "eight_ball"]
	path = eight_ball
	url = git@github.com:jlouiss/flutter-challenges-eight_ball.git
[submodule "xylophone"]
	path = xylophone
	url = git@github.com:jlouiss/flutter-challenges-xylophone.git
